{% extends 'base.html' %}

{% load static %}

{% block title %} Player Stats {% endblock %}

{% block content %}  
<a href="{% url 'accounts:logout' %}">Logout</a>
<table class="table table-condensed table-bordered">
    <thead>
        <tr class="success text-center">
            <th>Standings</th>
            <th>Total</th>
            <th>Player</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
        </tr>
    </thead>
    <tbody>
        {% for users in scores %}
        <tr class="success text-center">
            {% for user in users %}
            <td>{{ user }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
