/* * {
  margin: 0;
  padding: 0;
} */

.AppHeader-module_appHeader__1Ehyv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 0px 16px;
  height: 40px;
  color: #ffffff;
  border-bottom: 1px solid #3a3a3c;
  background-color: #121213;
}

.AppHeader-module_menuLeft__iErDO {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
}
#AppHeader-module_navButton__fB5nf {
  padding-top: 2px;
  padding-left: 0px;
  padding-right: 13px;
  background: none;
  border: none;
}

.AppHeader-module_appHeader__1Ehyv .AppHeader-module_title__6sqs- {
  flex-grow: 2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.01em;
  text-align: left;
  left: 0;
  right: 0;
  pointer-events: none;
  position: relative;
}

.NavIcon-module_burgerSvg__WKh0A {
  width: 20px;
}

.AppHeader-module_appHeader__1Ehyv button.AppHeader-module_icon__x7b46 {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 4px;
}

.AppHeader-module_menuRight__jUeYn {
  display: flex;
  justify-content: flex-end;
}



html,
body {
  height: 100%;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

#container {
  display: flex;
  background-color: #121213;
  height: calc(100% - 40px);
  align-items: center;
  flex-direction: column;
}

#game {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid rgb(58, 58, 60);
}

.title {
  color: gainsboro;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 350px;
  height: 420px
}

.square[data-state = empty]{
  border: 2px solid rgb(58, 58, 60);
}

.square[data-state = tbd] {
  background-color: 121213;
  border: 2px solid #565758;
  color: #ffffff;
}

.square {    
  min-width: 60px;
  min-height: 60px;
  font-size: 2rem;
  font-weight: bold;
  color: gainsboro;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
} 
@media (max-height: 685px) {
  .square {
    font-size: 1em;
    line-height: 1em;
    min-width: 32.2px;
    min-height: 32.5px;
  }
  #board{
    width: 42vh;
    height: 50vh;
  }
}

#keyboard-container {
  height: 200px;
  margin: 0 8px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.keyboard-row button:last-of-type { 
  margin: 0;
}

.keyboard-row button {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin-right: 6px;
  height: 58px;
  cursor: pointer;
  user-select: none;
  background-color: #818384;
  color: #ffffff;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 4px;
}

.keyboard-row button.last-button {
  color: #ffffff;
}

.keyboard-row button.wide-button {
  flex: 1.5;
    flex-grow: 1.5;
    flex-shrink: 1;
    flex-basis: 0%;
  font-size: 12px;
}

.spacer-half {
  flex-grow: 0.5;
}

.message-container {
  height: 60px;
  align-items: center;
  justify-content: center;
  display: flex;
  position:absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
}

.message-container p {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.Modal-module_modalOverlay__81ZCi {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
}
.Modal-module_content__s8qUZ {
  position: relative;
  border-radius: 8px;
  border: 1px solid #1a1a1b;
  background-color: #121213;
  color: #ffffff;
  box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
  width: 90%;
  max-height: 100%;
  overflow-y: auto;
  max-width: 500px;
  padding: 16px;
  box-sizing: border-box;
  z-index: 2100;
}
.Stats-module_gameStats__ZP1aW {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
}
.Stats-module_gameStats__ZP1aW .Stats-module_statisticsHeading__9B0IG {
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 4px;
  letter-spacing: 0.05em;
}

.Stats-module_statistics__Hke7Z {
  display: flex;
}

.Stats-module_gameStats__ZP1aW h1 {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4px;
  line-height: 18px;
  margin-top: 12px;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.Stats-module_statisticContainer__XORTW {
  flex: 1;
  margin-left: 12px;
}

.Stats-module_statisticContainer__XORTW .Stats-module_statistic__fr8JZ {
  font-size: 34px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.05em;
  font-variant-numeric: proportional-nums;
  line-height: 36px;
}
.Stats-module_statisticContainer__XORTW .Stats-module_label__pLAui {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 14px;
  letter-spacing: 0.1em;
}

.Modal-module_closeIcon__b4z74 {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.Stats-module_guessDistribution__J8Int {
  width: 80%;
}

.Stats-module_graphContainer__BlVFU {
  width: 100%;
  height: 18px;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 20px;
}

.Stats-module_guess__3MeYM {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
}

.Stats-module_graphContainer__BlVFU .Stats-module_graph__l2LGn {
  width: 100%;
  height: 100%;
  padding-left: 4px;
}

.Stats-module_graphContainer__BlVFU .Stats-module_graph__l2LGn .Stats-module_graphBar__TvsIP {
  height: 100%;
  width: 0%;
  position: relative;
  background-color: #3a3a3c;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  align-items: center;
}

.Stats-module_graphContainer__BlVFU .Stats-module_graph__l2LGn .Stats-module_numGuesses__aB7UF {
  font-weight: bold;
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
}

@media (max-width: 499px){
  .AuthCTA-module_buttonsContainer__y0b1J {
      width: 70%;
      margin: 0 auto;
  }
}
.AuthCTA-module_buttonsContainer__y0b1J {
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid #424242;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    width: 95%;
}

.AuthCTA-module_buttonsContainer__y0b1J .AuthCTA-module_loginButton__0FcEr {
  background-color: #121213;
  color: var(--color-tone-1);
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #ffffff;
  border-radius: 55px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: none;
  padding: 14px 12px;
  justify-content: center;
}

.AuthCTA-module_buttonsContainer__y0b1J .AuthCTA-module_loginButton__0FcEr > a {
  color: inherit;
  text-decoration: none;
}

.Stats-module_ctaContainer__WSxUG {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}